
body {
    background-color: rgb(102,178,178); /* Background color for the entire page */
    padding: 20px;
    margin: 0;
}

/* Reset and defaults */
.content-wrapper {
    background-color: #fff; /* Content background color */
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

p {
    text-align: left;
    font-size: 20px;
}

/* Heading and navigation */
.heading {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 3%;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    letter-spacing: 3px;
    text-align: center;
}

nav {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav:before, nav:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #ddd;
    margin: 7.5px 0px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    letter-spacing: 1px;
    color: #9ba0a9;
    font-weight: normal;
    font-size: 30px;
}

nav a:hover, .active {
    color: black;
    border-bottom: 1px solid #9ba0a9;
    padding-bottom: 3px;
}

/* Main content styling */
.contents {
    padding-top: 5%;
    text-align: left;
    transition: max-height 2s ease;
    letter-spacing: 1px;
}

h1 {
    font-size: 350%;
    line-height: 1.2em;
    font-style: normal;
    font-weight: 400;
    padding-top: 2%;
    letter-spacing: 1px;
}

h2 {
    font-size: 35px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 1%;
    text-align: center;
    letter-spacing: 1px;
}

h3 {
    font-size: 32px;
    font-family: Georgia, serif;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    letter-spacing: 1px;
}

.text-content {
    font-size: 15px;
    line-height: 1.8em;
    font-family: Georgia, serif;
    letter-spacing: 1px;
}

/* Social links */
.social-links {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.4s ease;
}

.social-links a:hover {
    background-color: #919191;
}

.social-links:hover a:not(:hover) {
    filter: grayscale(100%);
}