.tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;   
    margin-bottom: 10px;
    font-size: 12px;
    font-family: Arial, sans-serif;
}
.tag {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;     
}

.all {
    background-color: black;
    color:#ffffff;
}

.html {
    background-color: #8B0000;
    color: #ffffff;
}

.css {
    background-color: #00FF00;
    color: black;
}

.javascript {
    background-color: #FAC286;
    color: black;
}

.java {
    background-color: #5382a1;
    color: #ffffff;
}

.mysql {
    background-color: #F29111;
    color: #ffffff;
}

.dockerfile {
    background-color: #384d54;
    color: #ffffff;
}

.collaboration {
    background-color: #91d897;
    color: black;
}

.lua {
    background-color: #0056b3;
    color: white;
}

.container {
    overflow: hidden;
}
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block !important;
}
  
/* Tag container */
.tagContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
    display: inline-block;
    border-radius: 5%;
    padding: 10px 20px;
    border-spacing: 5px;
    border: 5px solid #ddd;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Button styles */
.btn {
    border: 1.5px solid black;
    padding: 10px 16px;
    cursor: pointer;
    width: 90px;
    height: 40px;
    margin-bottom: 1%;
    margin-top: 1%;
    transition: background-color 0.4s ease;
}

.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: #666;
    color: white;
}